<nav>
    <brand>Floaters</brand>
    <login ng-click="mainNavController.login()" ng-hide="$root.user">
        Log In
    </login>
    <user-info ng-show="$root.user" ng-click="mainNavController.logout()">
        {{$root.user.displayName}}
    </user-info>
    <ul>
        <li>
            <a ui-sref="parade" ui-sref-active="active">Parade</a>
        </li>
        <li>
            <a ui-sref="whatever" ui-sref-active="active">Where Am I?</a>
        </li>
        <li ng-show="$root.user">
            <a ui-sref="floats" ui-sref-active="active">Floats</a>
        </li>
    </ul>
</nav>